 .flex {
     display: flex;
 }

 .align-right {
     justify-content: end;
 }

 .margin-top-15x {
     margin-top: 15px;
 }

 .margin-left-5x {
     margin-left: 5px;
 }

 .mat-icon {
     margin: 0px !important;
 }