<mat-card appearance="raised">
    <mat-card-header>
        <mat-card-title>Tasks</mat-card-title>
        <mat-card-subtitle>Task Management</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="flex align-right">
            <button mat-raised-button color="primary" (click)="addTask()"> Add Task </button>
        </div>
        <table mat-table [dataSource]="tasks" class="margin-top-15x">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef>Due Date</th>
                <td mat-cell *matCellDef="let element">{{element.dueDate | date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="accent" (click)="editTask(element.id)">
                        <mat-icon>edit</mat-icon>
                    </button>  
                    <button mat-raised-button color="warn" class="margin-left-5x" (click)="deleteTask(element.id)"> 
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>